<div class="post-block">
	<a href="{{post_tease.link}}">
		<div class="image-container">
			<div class="image" style="background: url({{post_tease.thumbnail.src('post-block')}}) center center no-repeat; background-size: cover;"></div><!-- .image -->
		</div><!-- .image-container -->

		<div class="details">
			<h2 class="post-title">{{post_tease.title}}</h2><!-- .post-title -->
			<span class="post-meta">{{post_tease.post_date|date}}</span><!-- .post-meta -->
			<p class="excerpt">{{post_tease.get_preview(25, false, false)}}</p>
			<span href="{{post_tease.link}}" class="fancy">Read More</span>
		</div><!-- .details -->
	</a>
</div><!-- .post-block -->