{% if content_has_columns %}
<div class="content flex">
	<div class="left">
		{% if fn('is_single') %}
		<h1>{{post.title}}</h1>
		<span class="post-meta-date">{{ post.post_date|date}}</span>
		{% elseif post.get_field('secondary_title') %}
		<p class="h1">
			{{post.get_field('secondary_title')}}
		</p>
		{% endif %}
		{{content_column_1}}
	</div>
	<div class="right">
		{{content_column_2}}
	</div>
</div><!-- .content -->
{% else %}
<div class="content">
	{% if fn('is_single') %}
	<h1>{{post.title}}</h1>
	<span class="post-meta-date">{{ post.post_date|date}}</span>
	{% elseif post.get_field('secondary_title') %}
	<p class="h1">
		{{post.get_field('secondary_title')}}
	</p>
	{% endif %}
	{{post.content}}
</div>
{% endif %}
