<div class="team-block">
	<div class="image">
		<img src="{{TimberImage(team_member.image).src('interior-team')}}" />
	</div><!-- .image -->
	<div class="details">
		<h3 class="name">{{team_member.title}}</h3>
		<span class="title">{{team_member.position}}</span>
		<a class="ico email" href="mailto:{{team_member.email}}">{{team_member.email}}</a><br>
		<span class="ico phone">{{team_member.phone}}</span>
	</div><!-- .details -->
</div><!-- .team-block -->