{% block html_head_container %}

{# TODO? #}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">


		<div class="site-wrapper">
			<div class="site-pusher">
				<div id="page" class="site">

					{% block header %}
					<header id="masthead" class="site-header" role="banner">
						<div class="container">

							<div class="site-branding">
								<a href="{{ site.url }}" rel="home">{{ site.name }}</a>
							</div><!-- .site-branding -->

							<nav id="site-navigation" class="main-navigation" role="navigation">
								{# TODO
								<?php wp_nav_menu( array( 'theme_location' => 'primary', 'menu_id' => 'primary-menu' ) ); ?>
								#}
								<ul id="primary-menu" class="nav">
								{% for item in menu.get_items %}
									<li class="nav-item {{item.classes | join(' ')}}">
										<a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
										{% if item.get_children %}
											<ul class="nav nav-drop">
											{% for child in item.get_children %}
												<li class="nav-drop-item">
													<a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
												</li>
											{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %}
								</ul>
							</nav><!-- #site-navigation -->

							<div class="header-btns">
								{% if header_contact_link %}
								<a class="contact-btn btn" href="{{ header_contact_link }}">Contact</a>
								{% endif %}

								<a class="menu-btn btn">
									<div class="toggle">
										<span class="l1"></span>
										<span class="l2"></span>
										<span class="l3"></span>
									</div>
									<span>Menu</span>
								</a>

							</div><!-- .header-btns -->
						</div><!-- .container -->
					</header><!-- #masthead -->
					{% endblock %}

					<div id="content" class="site-content">
						<div id="primary" class="content-area">
							<main id="main" class="site-main" role="main">

							{% block content %}
								Sorry, no content
							{% endblock %}

							</main><!-- #main -->
						</div><!-- #primary -->
					</div><!-- #content -->

					<footer id="colophon" class="site-footer" role="contentinfo">
						<div class="site-info">
							<div class="container">
								<div class="grid grid-pad grid-pull">
									<div class="col-1-3">
										<h4>Contact</h4>
											{% if footer_contact_email or footer_contact_phone or footer_contact_address %}
											<ul>
												{% if footer_contact_email %}
												<li class="ico email"><a href="mailto:{{footer_contact_email}}">{{footer_contact_email}}</a></li>
												{% endif %}
												{% if footer_contact_phone %}
												<li class="ico phone">{{footer_contact_phone}}</li>
												{% endif %}
												{% if footer_contact_address %}
												<li class="ico address">{{footer_contact_address}}</li>
												{% endif %}
											</ul>
											{% endif %}
									</div><!-- .col-1-3 -->

									<div class="col-2-3">
										<div class="col-2-3">
											<h4>Licenses</h4>
											{{footer_licenses_text}}
										</div>
										<div class="col-1-3">
											<h4>Resources</h4>
												<ul>
													{% for item in footer_resources_menu.get_items %}
														<li class="nav-item {{item.classes | join(' ')}}">
															<a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
														</li>
													{% endfor %}
												</ul>
										</div>
									</div><!-- .col-2-3 -->
								</div><!-- .grid -->
							</div><!-- .container -->
						</div><!-- .site-info -->
						<div class="legal">
							<div class="container">
								&copy;<?=date('Y');?> Sustainable Interiors, Inc. All Rights Reserved. <a href="http://www.aaronmarth.com/">Website Design & Development by Aaron Marth</a>.

								<a href="#" class="scroll-top"><span>Scroll To Top</span></a>
							</div>
						</div>
					</footer><!-- #colophon -->
				</div><!-- #page -->
				{{ wp_footer }}
			</div><!-- .site-pusher -->
		</div><!-- .site-wrapper -->
	</body>
</html>




{#
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<h1 class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="/" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						<ul class="nav">
						{% for item in menu.get_items %}
							<li class="nav-item {{item.classes | join(' ')}}">
								<a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
								{% if item.get_children %}
									<ul class="nav nav-drop">
									{% for child in item.get_children %}
										<li class="nav-drop-item">
											<a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
										</li>
									{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %}
						</ul>
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
#}