{% extends "base.twig" %}

{% block content %}
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
			<div id="hero-banner">
				<div class="image skrollable skrollable-between" style="background: url({{fn('get_stylesheet_directory_uri')}}/img/interior-hero-1.jpg) center center no-repeat; background-size: cover;"  data-0="top:0px; opacity: .3; transform: scale(1); )" data-260="top:250px; opacity: 0; transform: scale(1.2);"></div>
				<div class="caption skrollable skrollable-between" data-0="top: 0px; opacity: 1;" data-260="top: 200px; opacity: 0;">
					<div class="container">
						<span class="main-headline page-title">Products</span>
						<span class="sub-headline">When it comes to flooring, one size does not fit all! That is why we have a wide selection of flooring materials, from carpet to hard surfaces to specialty flooring.</span>
					</div><!-- .container -->
				</div><!-- .caption -->
			</div><!-- #hero-banner -->


			<article id="product-grid" class="modal-grid">
				<div class="container">

					<div class="modal-block">
						<a href="{{fn('get_stylesheet_directory_uri')}}/ajax/product_popup.html" class="image ajax-popup-link">
							<div class="image-container">
								<div class="image" style="background: url({{fn('get_stylesheet_directory_uri')}}/img/modal-placeholder-1.jpg) center center no-repeat; background-size: cover;"></div><!-- .image -->
							</div><!-- .image-container -->
							<div class="details">
								<h3 class="post-title">Carpet</h3><!-- .post-title -->
							</div><!-- .details -->
						</a>
					</div><!-- .modal-block -->

					<div class="modal-block">
						<a href="{{fn('get_stylesheet_directory_uri')}}/ajax/product_popup.html" class="image ajax-popup-link">
							<div class="image-container">
								<div class="image" style="background: url({{fn('get_stylesheet_directory_uri')}}/img/modal-placeholder-2.jpg) center center no-repeat; background-size: cover;"></div><!-- .image -->
							</div><!-- .image-container -->
							<div class="details">
								<h3 class="post-title">Carpet</h3><!-- .post-title -->
							</div><!-- .details -->
						</a>
					</div><!-- .modal-block -->

					<div class="modal-block">
						<a href="{{fn('get_stylesheet_directory_uri')}}/ajax/product_popup.html" class="image ajax-popup-link">
							<div class="image-container">
								<div class="image" style="background: url({{fn('get_stylesheet_directory_uri')}}/img/modal-placeholder-3.jpg) center center no-repeat; background-size: cover;"></div><!-- .image -->
							</div><!-- .image-container -->
							<div class="details">
								<h3 class="post-title">Carpet</h3><!-- .post-title -->
								<!--<span class="post-meta">December 23, 2015</span><!-- .post-meta -->
							</div><!-- .details -->
						</a>
					</div><!-- .modal-block -->

					<div class="modal-block">
						<a href="{{fn('get_stylesheet_directory_uri')}}/ajax/product_popup.html" class="image ajax-popup-link">
							<div class="image-container">
								<div class="image" style="background: url({{fn('get_stylesheet_directory_uri')}}/img/modal-placeholder-4.jpg) center center no-repeat; background-size: cover;"></div><!-- .image -->
							</div><!-- .image-container -->
							<div class="details">
								<h3 class="post-title">Carpet</h3><!-- .post-title -->
							</div><!-- .details -->
						</a>
					</div><!-- .modal-block -->

					<div class="modal-block">
						<a href="{{fn('get_stylesheet_directory_uri')}}/ajax/product_popup.html" class="image ajax-popup-link">
							<div class="image-container">
								<div class="image" style="background: url({{fn('get_stylesheet_directory_uri')}}/img/modal-placeholder-5.jpg) center center no-repeat; background-size: cover;"></div><!-- .image -->
							</div><!-- .image-container -->
							<div class="details">
								<h3 class="post-title">Carpet</h3><!-- .post-title -->
							</div><!-- .details -->
						</a>
					</div><!-- .modal-block -->

					<div class="modal-block">
						<a href="{{fn('get_stylesheet_directory_uri')}}/ajax/product_popup.html" class="image ajax-popup-link">
							<div class="image-container">
								<div class="image" style="background: url({{fn('get_stylesheet_directory_uri')}}/img/modal-placeholder-6.jpg) center center no-repeat; background-size: cover;"></div><!-- .image -->
							</div><!-- .image-container -->
							<div class="details">
								<h3 class="post-title">Carpet</h3><!-- .post-title -->
							</div><!-- .details -->
						</a>
					</div><!-- .modal-block -->

					<div class="modal-block">
						<a href="{{fn('get_stylesheet_directory_uri')}}/ajax/product_popup.html" class="image ajax-popup-link">
							<div class="image-container">
								<div class="image" style="background: url({{fn('get_stylesheet_directory_uri')}}/img/modal-placeholder-7.jpg) center center no-repeat; background-size: cover;"></div><!-- .image -->
							</div><!-- .image-container -->
							<div class="details">
								<h3 class="post-title">Carpet</h3><!-- .post-title -->
							</div><!-- .details -->
						</a>
					</div><!-- .modal-block -->

					<div class="modal-block">
						<a href="{{fn('get_stylesheet_directory_uri')}}/ajax/product_popup.html" class="image ajax-popup-link">
							<div class="image-container">
								<div class="image" style="background: url({{fn('get_stylesheet_directory_uri')}}/img/modal-placeholder-8.jpg) center center no-repeat; background-size: cover;"></div><!-- .image -->
							</div><!-- .image-container -->
							<div class="details">
								<h3 class="post-title">Carpet</h3><!-- .post-title -->
							</div><!-- .details -->
						</a>
					</div><!-- .modal-block -->
				</div><!-- .container -->
			</article><!-- #product-grid -->


		</main><!-- #main -->
	</div><!-- #primary -->
{% endblock %}